body {
    border-color: aqua;
    display: flex;
    flex-flow: column nowrap;
}

main {
    border: 1px solid blue;
    display: flex;
    flex-flow: row nowrap;
}

/* Side Menu Styling */

#inner_menu{
    position: fixed;
    left: -250px;
}

#side_menu_tab {
    
    width: 10%;
    height: 5%;
    left: 10px;
    position: fixed;
    background-color: purple;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-duration: .5s;
}

#side_menu_tab:hover {
    background-color: blueviolet;
}

.side_slide {
    transition: left 0.5s ease-out;
}

#main_area {
    display: flex;
    flex-flow: row wrap;
}

#side_menu {
    width: 20%;
    /* height: 70%; */
    border: 1px solid red;
}

section {
    width: 100%;
    border: 1px solid blue;
}

#item_info {
    display: flex;
    flex-flow: column nowrap;
}

#item_header {
    display: flex;
    flex-flow: column nowrap;
}

#item_header h1, #item_header h2{
    width: 100%;
}

#item_header h2 a, #item_header p {
    display: inline;
}

#hero_menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#product_img {
    width: 300px;
    height: 300px;
    border: 1px solid green;
}

#purchase_menu {
    width: 60%;
    border: 1px solid green;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
}

#purchase_menu #stock_info, #purchase_menu #cart_button {
    width: 80%;
    height: 15%;
    margin-left: 10%;
}

#purchase_divider {
    display: inline-block;

}

#purchase_menu #color_dropdown {
    width: 50%;
}

#purchase_menu label[for="color_dropdown"] {
    width: 20%;
}

#purchase_menu #qty_input {
    width: 30%;
}

/* Hastags */
#hashtags {
    text-align: center;
}
#hashtags p {
    display: inline-block;
}

#item_details {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

#item_info_table {
    width: 100%;
    margin-bottom: 2%;
    padding-left: 2%;
}

#table_title{
    width: 100%;
    text-align: center;
}

#related_products {
    text-align: center;
}