body {
    border-color: aqua;
    display: flex;
    flex-flow: column nowrap;
}
main {
    border: 1px solid blue;
    display: flex;
    flex-flow: column nowrap;
}

section {
    border: 1px solid blue;
}

#item_info {
    display: flex;
    flex-flow: column nowrap;
}

#item_header {
    display: flex;
    flex-flow: column nowrap;
}

#item_header h1, #item_header h2{
    width: 100%;
}

#item_header h2 a, #item_header p {
    display: inline;
}

#product_img {
    width: 300px;
    height: 300px;
    border: 1px solid green;
}

#purchase_menu {
    border: 1px solid green;
}