body {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(31, 2, 31);
}

main {
    display: flex;
    flex-flow: row nowrap;
}

/* Side Menu Styling */

#side_menu {
    width: 20%;
    border: none;
}

#inner_menu{
    height: 50%;
    position: fixed;
    left: -150px;
    border: none;
}

#inner_menu li{
    line-height: 2rem;
    margin-bottom: 10px;
}

#side_menu_tab {
    
    width: 10%;
    height: 5%;
    left: 0px;
    position: fixed;
    background-color: purple;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-duration: .5s;
}

#side_menu_tab:hover {
    background-color: rgb(138, 43, 226);
}

.side_slide_out {
    transition: left 0.5s ease-out;
}

.side_slide_in {
    transition: left 0.5s ease-in;
}

#inner_menu ul li.active {
    background-color: rgb(51, 38, 61);
    transition: background-color .5s linear;
}

/* Main Area styling */

#main_area {
    display: flex;
    flex-flow: row wrap;
}

section {
    width: 100%;
    border-left: 1px solid rgb(31, 2, 31);
    border-right: 1px solid rgb(31, 2, 31);
}

#item_info {
    display: flex;
    flex-flow: column nowrap;
}

#item_header {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 3%;
}

.bold{
    font-size: 1.5em;
}

#item_header h1, #item_header h2{
    width: 100%;
}

#item_header h2 a, #item_header p {
    display: inline;
}

#hero_menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#product_img, #pimg {
    width: 300px;
    height: 300px;
    border: 1px solid rgb(31, 2, 31);
    border-radius: 10px;
}

#cycle {
    position: relative;
    top: 0px;
    left: 10px;
    z-index: 5;
}

#purchase_menu {
    width: 60%;
    border: 1px solid rgb(31, 2, 31);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#purchase_menu #stock_info, #purchase_menu #cart_button {
    width: 80%;
    height: 15%;
    margin-left: 10%;
}

#purchase_divider {
    display: inline-block;

}

#purchase_menu #color_dropdown {
    width: 50%;
}

#purchase_menu label[for="color_dropdown"] {
    width: 20%;
}

#purchase_menu #qty_input {
    width: 30%;
}

/* Hastags */
#hashtags {
    text-align: center;
    z-index: -2;
}
#hashtags p {
    display: inline-block;
    margin-left: 1%;
    padding: 1%;
    background-color: rgb(160, 115, 202);
    border-radius: 10px;
}

#item_details {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

#item_info_table {
    width: 100%;
    margin-bottom: 2%;
    padding-left: 2%;
}

#table_title{
    width: 100%;
    text-align: center;
}

#related_products {
    text-align: center;
}

#product_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}